<!-- // we will create our navabar component , and we will call this componennt in our different landing pages.  -->


<header>
    <div class="container ">
        <a href="/" class="logo">EXPRESS <span
            class="green-text">DIARY</span></a>

            <nav>
                <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/diary">GO TO DIARY</a></li>
                </ul>
            </nav>
    </div>

</header>